

#myInput{
    margin-left: 100px;
    padding-bottom: 20px;
    padding-right: 500px;
    padding-left: 100px;
    border-radius: 20px;

}

iframe{
    width: 100%;
}

#grad {
    background-image: linear-gradient(#94a4a8, white, black);
  }


 
